<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" role=navigation>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a href="index.html" class="navbar-brand logo"><img class="img-responsive" src="./assets/img/logo.png"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right bg-color">
              <li class="page-scroll active">
                  <a href="#">Home</a>
              </li>
              <li class="btn-group" dropdown>
                <a href="#" class="dropdown-toggle" dropdownToggle>Courses <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li><a href="basic-algebra.html">Basic</a></li>
                  <li><a href="intermediate-algebra.html">Intermediate</a></li>
                </ul>
              </li>
              <li class="page-scroll">
                  <a href="#">Blog</a>
              </li>
              <li class="page-scroll">
                  <a href="sign-in.html">Sign In</a>
              </li>
              <li class="page-scroll">
                  <a href="sign-up.html">Sign Up</a>
              </li>
              <!--<li class="page-scroll">
                  <a href="profile.html">Profile</a>
              </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
