<div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-default sign-up sign-up-page">
            <div class="panel-heading">
              <h3 class="panel-title">Welcome back!</h3>
            </div>
            <form (submit) = "login($event)" class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <label>Username</label>
                  <input name="username" [(ngModel)]="user.username">
                </div>
              </div>
              <div class="row row-space">
                <div class="col-md-12">
                  <label>Password</label>
                  <input name="password" [(ngModel)]="user.password" type="password">
                </div>
              </div>
              <hr/>
              <button type="submit" class="btn btn-block btn-lg btn-success">Sign in</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><h2 class="h2-message">Videos and Quizzes</h2></div>
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v2jtbhdRySY" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="quiz-header">
                <h5>Quiz Question 2 of 4</h5>
                <h3>Adding Fractions</h3>
              </div>
              <div class="panel-body">
                <h3>3x + 4y + 10x</h3>
                <ul class="quiz-ul">
                  <li><input type="checkbox"> 17x</li>
                  <li><input type="checkbox"> 3x + 14y</li>
                  <li><input type="checkbox"> 7x + 4y</li>
                  <li><input type="checkbox"> 13x + 4y</li>
                </ul>
                <button type="button" class="btn btn-md btn-success">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
